* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    width: 100%;
    min-height: 100dvh;
    display: grid;
    gap: 1rem;
    place-items: center;
    background-color: black;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
}

a:nth-child(n) {
    color: rgba(255, 0, 0, 0.65);
}

a:nth-child(2n) {
    color: rgba(255, 255, 0, 0.6);
}

a:hover {
    text-decoration: underline;
}